:root {
    --card-width: 300;
    --card-height: 500;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-mesa-poquer-diseno-plano_23-2151016833.jpg);
    background-position: center;
    background-size: cover;
    font-family: "Slabo 27px", serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 30px auto;
}

.container-cardFormulario {
    display: flex;
    align-items: center;
}

.container-cardFormulario form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.card-container {
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;

}

.card {
    margin: 30px;
    background-color: #fff;
    width: calc(var(--card-width) * 1px);
    height: calc(var(--card-height) * 1px);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media(max-width: 600px) {
    :root {
        --card-width: 150;
        --card-height: 300;
    }

    .container {
        margin-top: 0;
        padding: 0;
    }

    .container-cardFormulario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-container {
        border: none;
        padding: 0;
        margin: 0 auto;
    }

}

.number {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
    overflow: hidden;
}

.number-center {
    font-size: clamp(70px, calc(var(--card-width) * 0.5 * 1px), 600px);
    margin: 0;
}

.above {
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 20%;
    container-type: inline-size;
    overflow: hidden;
}

.below {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 20%;
    text-align: center;
    rotate: 180deg;
    container-type: inline-size;
    overflow: hidden;
}

.above-adjustement,
.below-adjustement {
    font-size: clamp(40px, calc(var(--card-width) * 0.27 * 1px), 200px);
    margin-left: 8px;

}


.btn {
    margin: 20px;
    background-color: #c8b273;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}